<html>
<head>
    <title>Hardware parts list</title>
    <script type="text/javascript" src="/static/update.js"></script>
    <link href="static/store.css" rel="stylesheet">
</head>

<body>
  <div class="main">
    <h1>PC hardware parts list:</h1>
    <h3>Add new part:</h3>
    <form onsubmit="addProduct(event)">
        <div>
            <label for="hardware_part">Part name</label>
            <input type="text" name="hardware_part" id="hardware_part" required>
        </div>
        <div>
            <label for="price">Price (rub.)</label>
            <input type="number" name="price" id="price" required>
        </div>
        <button type="submit">Add</button>
    </form>
    {% if products_list_length != 0 %}
      <h3>Parts list:</h3>
      <div>
        <button onclick="deleteAllProducts()">Remove all</button></div>
      <ul id="products_list">
          {% for product in products_list %}
          <li>
              <div>
                <div class="product-item">
                  <div>{{ product['hardware_part'] }}</div>
                  <div>{{ product['price'] }} rub.</div>
                </div>
                  <button onclick="deleteProduct({{ product['id'] }})">Remove</button>
              </div>
          </li>
          {% endfor %}
      </ul>
    {% endif %}
  </div>
</body>
</html>
